<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10855517718-g0hbote81gs227fmit9aumpghgnqfkq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10855517718-g0hbote81gs227fmit9aumpghgnqfkq1</string>
	<key>API_KEY</key>
	<string>AIzaSyBnTjxoNl8KnkM-nrRfGMbcqIxyr8gKmmY</string>
	<key>GCM_SENDER_ID</key>
	<string>10855517718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.damonique.UpNext</string>
	<key>PROJECT_ID</key>
	<string>watchthis-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>watchthis-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10855517718:ios:52e3f8471e66c56acb2f37</string>
	<key>DATABASE_URL</key>
	<string>https://watchthis-swiftui.firebaseio.com</string>
</dict>
</plist>